@import 'chank/header';

.main-info-body {
  display: flex;
  padding: 200px 0;

  div {
    text-align: center;
  }
  div:nth-child(-n+3) {
    padding-right: 30px;
  }
  a {
    position: relative;
    padding: 30px 0 20px 0;
    font: 600 1.12rem $font-open ;
    text-transform: uppercase;
    color: #6a6a6a;
    text-decoration: none;
    letter-spacing: .075rem;
    i:before {
      position: absolute;
      color: #ec7366;
      padding: 25px;
      font-size: 21px;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  a:hover {
    color: $red;
  }
  a:before {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    padding: 25px;
    border: solid 1px #e5e5e5;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s ease-in;
    }
  a:hover:before {
    transition: all 0.5s ease-in;
    transform: rotate(45deg);
    border-color: #e95b4e;
  }
  a:after {
    position: absolute;
    content: '';
    border: solid 1px #888;
    width: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  p {
    font: 300 .75rem $font-source ;
    line-height: 1.66;
    color: #b3b3b3;
    margin: 0;
    padding: 30px 10px;
    letter-spacing: .075rem;
  }
}

.history {
  display: flex;
  font: 100% $font-source;
  .monitor {
    background: url("../img/Monitor.png")center no-repeat;
    width: 506px;
    height: 407px;
  }
  .history-block{
    width: 50%;
    margin-left: 80px;
    h2 {
      position: relative;
      margin: 0 0 0 30px;
      font-size: 2.25rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #6a6a6a;
      letter-spacing: .1rem;
    }
    h2:before {
      position: absolute;
      content: '';
      border-left: solid 6px $red;
      height: 100%;
      margin-left: -30px;
    }
    p {
      font-size: .875rem;
      line-height: 2.07;
      color: #999;
      margin: 40px 0;
    }
  }
  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 220px;
    padding: 17px 0;
    border: solid 1px $red;
    border-radius: 2px;
    background: $red;
    line-height: 2.84;
    text-transform: uppercase;
    text-align: center;
    font: 700 .875rem $font-open ;
    letter-spacing: .01rem;
  }
}
.fluid-container {
  display: flex;
  padding: 150px 0;
  .fluid-box {
    width: 55%;
    background-color: #202020;
    padding: 100px 0;
    display: flex;
    justify-content: flex-end;
  }
  .fluid-photo {
    width: 45%;
    background: transparent url("../img/Tablet.jpg") no-repeat;
    background-size: cover;
  }
}
.slider-body {
  max-width: 532px;
  flex-direction: column;
  text-align: right;
  .service-title {
    font: 700 2.25rem $font-source;
    text-transform: uppercase;
    color: #f4f5f9;
    position: relative;
    margin: 30px 100px;
    letter-spacing: .1rem;
  }
  .service-title:after {
    position: absolute;
    content: '';
    border-left: solid 6px $red;
    height: 41px;
    margin-left: 25px;
  }
  .serv-slider {
    width: 110%;
    position: relative;
  }
  a {
    text-decoration: none;
    outline: none;
    color: #828282;
    margin: 15px 0;
    padding-right: 120px;
    position: relative;
    h2 {
      font: 600 1.12rem $font-open;
      text-transform: uppercase;
      line-height: 1.61;
      color: $red;
      margin: 0;
    }
    p {
      font: .875rem $font-source;
      line-height: 2.07;
      margin: 5px 0 5px 25px;
    }
  }

  a:before {
    position: absolute;
    padding: 10px;
    border: solid 5px rgba(244, 245, 249, .5);
    border-radius: 100%;
    background: #f4f5f9;
    color: $red;
    font-size: 27px;
    height: 27px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 40px;
  }

}
.serv-dots {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  li {
    height: 34px;
    border-left: solid 1px white;
    margin: 10px 0;
  }
  button {
    display: none;
  }
  .slick-active {
     border-left: solid 2px $red;
   }
}


.works {
  font: 100% $font-open;
  text-align: center;
}
.custom-big-title {
  font: 700 2.25rem $font-source;
  text-transform: uppercase;
  color: #6a6a6a;
  margin: 15px 0;
  letter-spacing: .1rem;
}
.custom-min-title {
  font-size: .875rem;
  line-height: 2.07;
  color: #999;
  margin: 0;
}
.line {
  color: $red;
  font: 3.09rem $font-open;
  position: relative;
  padding: 0 20px;
  line-height: 10px;
  }
.line:before {
  content: '';
  width: 100px;
  border-bottom: solid 1px #999;
  position: absolute;
  top: 75%;
  right: 100%;
}
.line:after {
  content: '';
  width: 100px;
  display: inline-block;
  border-bottom: solid 1px #999;
  position: absolute;
  top: 75%;
  left: 100%;
}
.works {
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px 0;
    list-style: none;
    font-weight: 700;
    li+li {
      padding-left: 15px;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      color: #999;
    }
    a:hover {
      color: $red;
    }
    li:nth-child(-n+6):after {
      content: '/';
      padding-left: 15px;
      color: #999;
    }
  }
}
.works-example {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      height: auto;
      width: 25%;
      img {
        width: 100%;
        height: 100%;
      }
      a {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(236, 112, 99, .8);
        padding: 30px;
        color: white;
        letter-spacing: .05rem;
        span {
          font: .875rem $font-open;
        }
        .t-shirt {
          font: 600 1.5rem $font-source;
          text-transform: uppercase;
        }
        .t-shirt:before {
          content: '';
          position: absolute;
          border-top: solid 4px white;
          width: 44px;
          margin-top: -30px;
        }
      }
    }
    li:hover a {
      display: flex;
    }
  }
}
.case-study {
  padding: 100px 0 50px 0;
  text-align: center;
}
.fluid-case {
  background-color: #f4f5f9;
}
.case-body {
  display: flex;
  .case-content {
    width: 50%;
    margin: auto 0;
    .case-slider {
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 115%;
      height: 630px;
      position: relative;
      z-index: 10;
    }
    .case-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 70px 70px 20px 70px;
      outline: none;
      h2 {
        font: 600 1.125rem $font-open;
        color: #6a6a6a;
        text-transform: uppercase;
        padding-top: 150px;
        position: relative;
        letter-spacing: .075rem;
      }
      h2:before {
        content: '';
        width: 34px;
        height: 34px;
        background-color: $red;
        border: solid 1px $red;
        padding: 25px;
        transform: rotate(45deg);
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
      }
      h2:after {
        content: '';
        position: absolute;
        width: 41px;
        border-bottom: solid 2px #888;
        margin: 0 auto;
        right: 0;
        left: 0;
        padding-top: 30px;
      }
      i:before {
        position: absolute;
        color: white;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        font-size: 34px;
        padding-top: 30px;
      }
      p {
        font: 300 .875rem $font-source;
        line-height: 1.71;
        color: #9f9f9f;
        letter-spacing: .075rem;
        margin: 40px 0;
      }
      a {
        font: 600 .75rem $font-open;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        width: 140px;
        background-color: $red;
        border: solid 2px $red;
        border-radius: 2px;
        padding: 10px 0;
        margin: 20px 0;
      }
    }
  }
  .case-photo {
    background: transparent url("../img/case.jpg") no-repeat;
    width: 50%;
    height: 722px;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
}
.case-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 5px;
  }
  button {
    font-size: 0;
    padding: 0;
    border: solid 6px #f4f5f9;
    border-radius: 100%;
  }
  .slick-active button {
    border: solid 6px $red;
  }
}