header {
  font: 100% "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: transparent url("../img/Header.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh; }

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%; }

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0; }
  .header-top ul {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none; }
    .header-top ul li {
      padding: 0 20px; }
      .header-top ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #f4f5f9;
        font-size: .875rem;
        font-weight: 700;
        padding: 20px 0; }
      .header-top ul li a:hover {
        border-bottom: solid 1px #e74e3e;
        color: #e74e3e; }

.header-logo {
  text-transform: uppercase; }
  .header-logo a {
    text-decoration: none;
    font-size: 2.25rem;
    line-height: 1.34;
    border: solid 3px #f1ebe7; }
    .header-logo a .b {
      background-color: #f1ebe7;
      color: #4a4c55;
      padding: 0 10px;
      font-weight: 700; }
    .header-logo a .ino {
      color: #f1ebe7;
      padding: 0 10px;
      font-weight: 300; }

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  color: #3c3531;
  padding: 13px 10px;
  border: solid 1px #706863;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #706863;
  font-size: 20px; }

.arrow:hover {
  background: #e74e3e;
  border-color: #e74e3e;
  color: white; }

.icon-left-open {
  left: 0; }

.icon-right-open {
  right: 0; }

.header-slide {
  color: white;
  text-align: center;
  outline: none; }
  .header-slide p {
    font: 1.5rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0; }
  .header-slide h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    padding: 35px 0 0 0;
    margin: 0; }
  .header-slide span {
    color: #e74e3e;
    font-size: 3.09rem;
    position: relative;
    padding: 0 20px; }
  .header-slide span:before {
    content: '';
    width: 100px;
    border-bottom: solid 1px #f1ebe7;
    position: absolute;
    top: 75%;
    right: 100%; }
  .header-slide span:after {
    content: '';
    width: 100px;
    border-bottom: solid 1px #f1ebe7;
    position: absolute;
    top: 75%;
    left: 100%; }
  .header-slide h2 {
    line-height: 1.71;
    color: #cbc6c0;
    font-size: .875rem;
    margin: 40px 25%; }
  .header-slide div {
    line-height: 2.84;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0; }
    .header-slide div a {
      display: inline-block;
      color: white;
      text-decoration: none;
      width: 220px;
      margin: 0 15px;
      padding: 10px 0;
      border: solid 1px white; }
    .header-slide div a:hover {
      background: #e74e3e;
      border-color: #e74e3e; }

.icon-anchor {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon-anchor:before {
  position: absolute;
  border: solid 5px rgba(244, 245, 249, 0.6);
  padding: 10px;
  top: -25px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  color: #e74e3e;
  background-color: #f4f5f9;
  font-size: 30px; }
