header {
  font: 100% "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: transparent url("../img/Header.jpg") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  min-height: 820px; }

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%; }

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0; }
  .header-top ul {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none; }
    .header-top ul li {
      padding: 0 20px; }
      .header-top ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #f4f5f9;
        font-size: .875rem;
        font-weight: 700;
        padding: 20px 0; }
      .header-top ul li a:hover {
        border-bottom: solid 1px #e74e3e;
        color: #e74e3e; }

.header-logo {
  text-transform: uppercase; }
  .header-logo a {
    text-decoration: none;
    font-size: 2.25rem;
    line-height: 1.34;
    border: solid 3px #f1ebe7; }
    .header-logo a .b {
      background-color: #f1ebe7;
      color: #4a4c55;
      padding: 0 10px;
      font-weight: 700; }
    .header-logo a .ino {
      color: #f1ebe7;
      padding: 0 10px;
      font-weight: 300; }

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  color: #3c3531;
  padding: 13px 10px;
  border: solid 1px #706863;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #706863;
  font-size: 20px; }

.arrow:hover {
  background: #e74e3e;
  border-color: #e74e3e;
  color: white; }

.icon-left-open {
  left: 0; }

.icon-right-open {
  right: 0; }

.header-slide {
  color: white;
  text-align: center;
  outline: none; }
  .header-slide p {
    font: 1.5rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    letter-spacing: .05rem; }
  .header-slide h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    padding: 15px 0 0 0;
    margin: 0;
    letter-spacing: .1rem; }
  .header-slide span {
    color: #e74e3e;
    font-size: 3.09rem;
    position: relative;
    padding: 0 20px; }
  .header-slide span:before {
    content: '';
    width: 100px;
    border-bottom: solid 1px #f1ebe7;
    position: absolute;
    top: 75%;
    right: 100%; }
  .header-slide span:after {
    content: '';
    width: 100px;
    border-bottom: solid 1px #f1ebe7;
    position: absolute;
    top: 75%;
    left: 100%; }
  .header-slide h2 {
    line-height: 1.71;
    color: #cbc6c0;
    font-size: .875rem;
    margin: 40px 25%; }
  .header-slide div {
    line-height: 2.84;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0; }
    .header-slide div a {
      display: inline-block;
      color: white;
      text-decoration: none;
      width: 220px;
      margin: 0 15px;
      padding: 10px 0;
      border: solid 1px white; }
    .header-slide div a:hover {
      background: #e74e3e;
      border-color: #e74e3e; }

.icon-anchor {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon-anchor:before {
  position: absolute;
  border: solid 5px rgba(244, 245, 249, 0.6);
  padding: 10px;
  top: -25px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  color: #e74e3e;
  background-color: #f4f5f9;
  font-size: 30px; }

.main-info-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 0; }
  .main-info-body div {
    text-align: center; }
  .main-info-body div:nth-child(-n+3) {
    padding-right: 30px; }
  .main-info-body a {
    position: relative;
    padding: 30px 0 20px 0;
    font: 600 1.12rem "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #6a6a6a;
    text-decoration: none;
    letter-spacing: .075rem; }
    .main-info-body a i:before {
      position: absolute;
      color: #ec7366;
      padding: 25px;
      font-size: 21px;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .main-info-body a:hover {
    color: #e74e3e; }
  .main-info-body a:before {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    padding: 25px;
    border: solid 1px #e5e5e5;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
  .main-info-body a:hover:before {
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-color: #e95b4e; }
  .main-info-body a:after {
    position: absolute;
    content: '';
    border: solid 1px #888;
    width: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .main-info-body p {
    font: 300 0.75rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.66;
    color: #b3b3b3;
    margin: 0;
    padding: 30px 10px;
    letter-spacing: .075rem; }

.history {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font: 100% "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .history .monitor {
    background: url("../img/Monitor.png") center no-repeat;
    width: 506px;
    height: 407px; }
  .history .history-block {
    width: 50%;
    margin-left: 80px; }
    .history .history-block h2 {
      position: relative;
      margin: 0 0 0 30px;
      font-size: 2.25rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #6a6a6a;
      letter-spacing: .1rem; }
    .history .history-block h2:before {
      position: absolute;
      content: '';
      border-left: solid 6px #e74e3e;
      height: 100%;
      margin-left: -30px; }
    .history .history-block p {
      font-size: .875rem;
      line-height: 2.07;
      color: #999;
      margin: 40px 0; }
  .history a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 220px;
    padding: 17px 0;
    border: solid 1px #e74e3e;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: #e74e3e;
    line-height: 2.84;
    text-transform: uppercase;
    text-align: center;
    font: 700 0.875rem "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: .01rem; }

.fluid-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0; }

.fluid-box {
  width: 55%;
  background-color: #202020;
  padding: 100px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.fluid-photo {
  width: 45%;
  background: transparent url("../img/Tablet.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.slider-body {
  max-width: 532px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right; }
  .slider-body .service-title {
    font: 700 2.25rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #f4f5f9;
    position: relative;
    margin: 30px 100px;
    letter-spacing: .1rem; }
  .slider-body .service-title:after {
    position: absolute;
    content: '';
    border-left: solid 6px #e74e3e;
    height: 41px;
    margin-left: 25px; }
  .slider-body .serv-slider {
    width: 110%;
    position: relative; }
  .slider-body a {
    text-decoration: none;
    outline: none;
    color: #828282;
    margin: 15px 0;
    padding-right: 120px;
    position: relative; }
    .slider-body a h2 {
      font: 600 1.12rem "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: uppercase;
      line-height: 1.61;
      color: #e74e3e;
      margin: 0; }
    .slider-body a p {
      font: 0.875rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
      line-height: 2.07;
      margin: 5px 0 5px 25px; }
  .slider-body a:before {
    position: absolute;
    padding: 10px;
    border: solid 5px rgba(244, 245, 249, 0.5);
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #f4f5f9;
    color: #e74e3e;
    font-size: 27px;
    height: 27px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 40px; }

.slick-dots {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0; }
  .slick-dots li {
    height: 34px;
    border-left: solid 1px white;
    margin: 10px 0; }
  .slick-dots button {
    display: none; }
  .slick-dots .slick-active {
    border-left: solid 2px #e74e3e; }

.works {
  font: 100% "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center; }

.custom-big-title {
  font: 700 2.25rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #6a6a6a;
  margin: 15px 0;
  letter-spacing: .1rem; }

.custom-min-title {
  font-size: .875rem;
  line-height: 2.07;
  color: #999;
  margin: 0; }

.line {
  color: #e74e3e;
  font-size: 3.09rem;
  position: relative;
  padding: 0 20px;
  line-height: 10px; }

.line:before {
  content: '';
  width: 100px;
  border-bottom: solid 1px #999;
  position: absolute;
  top: 75%;
  right: 100%; }

.line:after {
  content: '';
  width: 100px;
  display: inline-block;
  border-bottom: solid 1px #999;
  position: absolute;
  top: 75%;
  left: 100%; }

.works ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 50px 0;
  list-style: none;
  font-weight: 700; }
  .works ul li + li {
    padding-left: 15px; }
  .works ul a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: #999; }
  .works ul a:hover {
    color: #e74e3e; }
  .works ul li:nth-child(-n+6):after {
    content: '/';
    padding-left: 15px;
    color: #999; }

.works-example ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0; }
  .works-example ul li {
    position: relative;
    height: auto;
    width: 25%; }
    .works-example ul li img {
      width: 100%;
      height: 100%; }
    .works-example ul li a {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(236, 112, 99, 0.8);
      padding: 30px;
      color: white;
      letter-spacing: .05rem; }
      .works-example ul li a span {
        font: 0.875rem "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif; }
      .works-example ul li a .t-shirt {
        font: 600 1.5rem "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase; }
      .works-example ul li a .t-shirt:before {
        content: '';
        position: absolute;
        border-top: solid 4px white;
        width: 44px;
        margin-top: -30px; }
  .works-example ul li:hover a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
